p {}

#first-paragraph {}

.even-paragraph {}

.profile-picture {
    border-top: 4px solid purple;
    border-left: 4px solid purple;
    border-right: 4px solid purple;
    border-bottom: 4px solid purple;
    color: pink
}

.social-links {
    border: 2px solid yellow
}

.biography {
    border: 2px solid blue;
}